body{

margin:0;
font-family:Arial;

background-image:url("Gemini_Generated_Image_bo2jlsbo2jlsbo2j.png");
background-size:cover;
background-position:center;

}

.contenedor{

display:flex;
justify-content:center;
gap:50px;
padding:50px;

}

.panel{

background:rgba(170, 170, 170, 0.8);
padding:30px;
width:350px;
border-radius:10px;

}

h2{

text-align:center;

}

label{

display:block;
margin-top:10px;

}

input,select{

width:100%;
padding:8px;
margin-top:5px;
border-radius:5px;
border:none;

}

.radio{

margin-top:5px;

}

.botones{

margin-top:20px;
display:flex;
justify-content:space-between;

}

button{

padding:10px;
border:none;
border-radius:6px;
color:white;
cursor:pointer;

}

.guardar{

background:green;

}

.editar{

background:orange;

}

.eliminar{

background:red;

}

table{

width:100%;
margin-top:20px;
border-collapse:collapse;

}

th,td{

border:1px solid gray;
padding:8px;
text-align:center;

}

#buscar{

margin-top:10px;

}